.tataCara__section {
    // top: 0px;
    // left: 0px;
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: absolute;
    // z-index: -11;
}

.bg_header {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -12;
  }